
<!DOCTYPE html>
<html lang="vi">
<head>
	<title>
		Cửa hàng trang sức bạc tại TPHCM đẹp, cao cấp -  KaT Jewelry
	</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="">
	<meta name="keywords" content="KaT Jewelry chuyên thiết kế và bán trang sức bạc 925 với kiểu dáng hướng ngoại, mộc mạc nhưng sang trọng. KaT còn nhận đặt trang sức vàng 10k, 14k, 18k, vàng trắng theo yêu cầu. Hãy khoác lên mình nét dẹp độc nhất cùng KaT Jewelry">
	<meta name="description" content="Chuỗi cửa hàng trang sức bạc tại Tphcm KaT Jewelry chuyên cung cấp các loại trang sức ✅ Cao cấp ✅Độc đáo ✅Cá tính ✅Làm sáng miễn phí trọn đời.">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

	<link rel="stylesheet" type="text/css" href="~/Layout/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="~/Layout/icomoon/icomoon.css">
	<link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="~/Layout/css/vendor.css">
	<link rel="stylesheet" type="text/css" href="~/Layout/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<!-- script
	================================================== -->
	<script src="~/Layout/js/modernizr.js"></script>
	<style type="text/css">
		#btn-back-to-top {
			position: fixed;
			bottom: 20px;
			right: 20px;
			display: none;
		}
	</style>
	<script type="text/javascript">
		//Get the button
		let mybutton = document.getElementById("btn-back-to-top");

		// When the user scrolls down 20px from the top of the document, show the button
		window.onscroll = function () {
			scrollFunction();
		};

		function scrollFunction() {
			if (
				document.body.scrollTop > 20 ||
				document.documentElement.scrollTop > 20
			) {
				mybutton.style.display = "block";
			} else {
				mybutton.style.display = "none";
			}
		}
		// When the user clicks on the button, scroll to the top of the document
		mybutton.addEventListener("click", backToTop);

		function backToTop() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}
	</script>
</head>
<body>
	<button type="button"
			class="btn btn-danger btn-floating btn-lg"
			id="btn-back-to-top">
		<i class="fas fa-arrow-up"></i>
	</button>
	<div class="preloader-wrapper">
		<div class="preloader">
		</div>
	</div>

	<div class="search-popup">
		<div class="search-popup-container">

			<form role="search" method="get" class="search-form" action="">
				<input type="search" id="search-form" class="search-field" placeholder="Type and press enter" value="" name="s" />
				<button type="submit" class="search-submit"><a href="#"><i class="icon icon-search"></i></a></button>
			</form>

			<h5 class="cat-list-title">Browse Categories</h5>

			<ul class="cat-list">
				<li class="cat-list-item">
					<a href="shop.html" title="Men Jackets">Men Jackets</a>
				</li>
				<li class="cat-list-item">
					<a href="shop.html" title="Fashion">Fashion</a>
				</li>
				<li class="cat-list-item">
					<a href="shop.html" title="Casual Wears">Casual Wears</a>
				</li>
				<li class="cat-list-item">
					<a href="shop.html" title="Women">Women</a>
				</li>
				<li class="cat-list-item">
					<a href="shop.html" title="Trending">Trending</a>
				</li>
				<li class="cat-list-item">
					<a href="shop.html" title="Hoodie">Hoodie</a>
				</li>
				<li class="cat-list-item">
					<a href="shop.html" title="Kids">Kids</a>
				</li>
			</ul>
		</div>
	</div>
	@Html.Action("NavPartial", "KAT")


	@RenderSection("Slider", required: false)
	@if (ViewBag.Title != "TRANG CHỦ")
	{
		<section class="site-banner jarallax min-height300 padding-large" style="background: url('../../Images/banner.jpg') no-repeat;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="page-title">@ViewBag.Title</h1>
						<div class="breadcrumbs">
							<span class="item">
								<a href="@Url.Action("Index", "KAT")">Trang chủ /</a>
							</span>
							<span class="item">@ViewBag.Title</span>
						</div>
					</div>
				</div>
			</div>
		</section>
	}


	@RenderBody()

	<hr>
	@Html.Action("FooterPArtial", "KAT")

	<script src="~/Layout/js/jquery-1.11.0.min.js"></script>
	<script src="~/Layout/js/plugins.js"></script>
	<script src="~/Layout/js/script.js"></script>
</body>
</html>