@model WebsiteKATJewelry.Areas.Admin.Models.Details

@{
	ViewBag.Title = "Quản lý sản phẩm";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<script src="//cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>

<script src=" @Url.Content("~/ckfinder/ckfinder.js")"
		type="text/javascript"></script>
<script type="text/javascript">
CKFinder.setupCKEditor(null, ' @Url.Content("~/ckfinder/")');
</script>
<style>
	.form-horizontal {
		margin: 20px;
	}

	.control-label {
		font-weight: bold;
	}

	.form-control {
		width: 100%;
		padding: 5px;
		margin-bottom: 10px;
	}

	.btn {
		background-color: #007BFF;
		color: #fff;
	}

		.btn:hover {
			background-color: #0056b3;
		}

	.text-danger {
		color: red;
	}
	/* Điều chỉnh định dạng cho CKEditor */
	.cke {
		border: 1px solid #ccc;
	}
	/* Điều chỉnh định dạng cho Dropdowns */
	select.form-control {
		width: 100%;
	}
</style>

<h4>THÊM SẢN PHẨM</h4>
@using (Html.BeginForm("Edit", "SP", FormMethod.Post, new
{
	enctype = "multipart/form-data"
}))
{
	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			<label class="control-label col-md-2">Mã sản phẩm:</label>
			<div class="col-md-10">
				<input type="text" size="70" name="iMaSP" value="@Model.SanPham.MaSP" readonly />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Tên sản phẩm:</label>
			<div class="col-md-10">
				<input type="text" size="70" name="sTenSP" value="@Model.SanPham.TenSP" required />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Mô tả:</label>
			<div class="col-md-10">
				<textarea name="sMoTa" id="mota" required>@Model.SanPham.Mota</textarea>
				<script>CKEDITOR.replace('mota'); CKFinder.setupCKEditor(null, '/ckfinder');</script>

			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Story:</label>
			<div class="col-md-10">
				<textarea name="sStory" id="story" required>@Model.SanPham.Story</textarea>
				<script>CKEDITOR.replace('story'); CKFinder.setupCKEditor(null, '/ckfinder');</script>

			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2">Ảnh bìa sản phẩm:</label>
			<div class="col-md-10">
				<input type="file" name="fFileUpload" />
				<img src="~/Images/@Model.SanPham.AnhBia" width="120"> (Ảnh hiện tại)
				@ViewBag.ThongBao
			</div>
		</div>
		<div class="form-group">
			@Html.Label("Danh sách ảnh sản phẩm", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextBox("files", "", new { type = "file", multiple = "multiple", accept = "image/*" })
				<div class="filearray">

				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">(Danh sách ảnh hiện tại)</label>
			@foreach (var item in Model.AnhSPs)
			{
				<div class="col-3">
					<div class="view overlay rounded z-depth-1 gallery-item hoverable">
						<img src="~/Images/@item.HinhAnh" class="img-fluid"> 
						<div class="mask rgba-white-slight"></div>
					</div>
				</div>
			}
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Giá:</label>
			<div class="col-md-10">
				<input type="text" size="70" name="mGiaBan" value="@Model.SanPham.GiaSP" min="1" required />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Số lượng tồn:</label>
			<div class="col-md-10">
				<input type="text" size="70" name="iSoLuong" value="@Model.SanPham.SoLuongTon" required />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Ngày nhập:</label>
			<div class="col-md-10">
				<input type="datetime" name="dNgayNhap" required
					   value="@Convert.ToDateTime(Model.SanPham.NgayNhap)" />
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.SanPham.MaDM, "Danh mục", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("MaDM")
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.SanPham.MaLoai, "Loại", new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("MaLoai")
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Cập nhật" class="btn btn-default" />
			</div>
		</div>
	</div>
}
<div>
	@Html.ActionLink("VỀ TRANG QUẢN LÝ SẢN PHẨM", "Index")
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
	$(document).on('ready', () => {
		$("#files").on('change', function () {
			$(".filearray").empty();
			for (let i = 0; i < this.files.length; ++i) {
				let filereader = new FileReader();
				let $img = jQuery.parseHTML("<img width='150' src=''>");
				filereader.onload = function () {
					$img[0].src = this.result;
				};
				filereader.readAsDataURL(this.files[i]);
				$(".filearray").append($img);
			}
		});
	});
</script>

